@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');






/* .sction-style */
.section-tittle{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
/* .header */

.header{
    
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.secondary-bg{
    background-color: #FFF8F3;

}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 60px;
}

.nav-tittle{
    font-family: "Open Sans", sans-serif;
    font-weight:800px;
    font-size: 45px;


}
span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
    
    
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 25px;
    
}
.Dark-2{
    color:#474747;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
}

/* banner styles */
.Banner{
    display:flex;
    justify-content:space-between;
    margin: 0px 30px 0px 200px;
}
.banner-content{
    max-width: 500px;
}
.banner-greetings{
    font-size: 35px;
    font-weight: 600;
    
}
.banner-tittle{
    font-size: 70px;
    font-weight: bold;
}
.banner-description{
font-size: 25px;
}
.banner-profile-img{
    height: 500px;
    /* width: 250px; */
}

/* main styles */
main{
    max-width: 1100px;
    margin: 0px auto;
}
main section{
    margin-top: 100px;
    margin-bottom: 100px;
}
/* about styles */
.about{
    border-radius: 10px;
    
    padding: 100px 120px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
}
.item-description{
    font-weight: bold;
}
.text-center{
    text-align: center;
}
.section-description{
    margin-bottom: 40px;
}
/* skill-container */
.skills-container{
    display: flex;
    gap: 20px;
    
}
.skill{
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0,0,0.06);
}
/* resume-section styles */
.Resume{
    text-align: center;
}
.resume-container{
    display: flex;
    gap: 40px;
}
.resumecolumn-tittle{
    font-size: 35px;
    font-weight: bold;
}
.experience-tittle{
    font-size: 25px;
    font-weight: 700px;
    color:#474747;
}
.experience-sub-tittle{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description{
    color: #757575;
}
.resume-container hr{
    margin: 30px 10px;
}
.resume-download-cv{
    margin-top: 40px;
}